BasedOnStyle: Microsoft

AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
BreakTemplateDeclarations: Yes
ColumnLimit: 80
CompactNamespaces: false
ContinuationIndentWidth: 4
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
- Regex:           '<.+>'
  Priority:        -30
- Regex:           '"[^.].*"'
  Priority:        -20
- Regex:           '".+"'
  Priority:        -10
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PPIndentWidth: 1
PointerAlignment: Right
QualifierAlignment: Left
ReferenceAlignment: Right
ReflowComments: Always
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeJsonColon: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInLineCommentPrefix:
  Minimum: 1
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: c++03
TabWidth: 4
UseTab: AlignWithSpaces
